  <%= form_for([:admin, @item]) do |f| %>
    <div class="field">
      <h4>ジャケット画像</h4>
      <!-- <label class="control-label sr-only" for="inputEmail">ItemImage</label> -->
      <%= f.attachment_field :image, placeholder: "ジャケット画像", class: "item-image" %>
    </div>
    <div class="field">
      <h4>シングル/アルバム名</h4>
      <%= f.text_field :title, class: "item_title" %>
    </div>
    <div class="field">
      <h4>アーティスト名</h4>
      <%= f.collection_select :artist_id, Artist.all, :id, :artist_name, :prompt => true %>
    </div>
    <div class="field">
      <h4>レーベル名</h4>
      <%= f.collection_select :label_id, Label.all, :id, :label, :prompt => true %>
    </div>
    <div class="field">
      <h4>ジャンル名</h4>
      <%= f.collection_select :genre_id, Genre.all, :id, :genre, :prompt => true %>
    </div>
    <div class="field">
      <h4>値段</h4>
      <%= f.text_field :price, class: "item_price" %>
    </div>
    <div class="field">
      <h4>在庫数</h4>
      <%= f.text_field :stock, class: "item_stock" %>
    </div>
    <h3>ディスク名</h3>
    <div id="discs">
      <%= f.fields_for :discs do |disc| %>
        <%= render 'disc_fields', :f => disc %>
      <% end %>
      <div class="links">
        <%= link_to_add_association 'add discs',f, :discs %>
      </div>
    </div>
    <p><%= f.submit "New", class: "btn btn-primary" %></p>
  <% end %>