  <%= form_for([:admin, @item]) do |f| %>
  <h4>ジャケット画像</h4>
  <!-- <label class="control-label sr-only" for="inputEmail">ItemImage</label> -->
  <%= f.attachment_field :image, placeholder: "ジャケット画像", class: "item-image" %>

  <h4>シングル/アルバム名</h4>
  <div><%= f.text_field :title, class: "item_title" %></div>

  <h4>アーティスト名</h4>
  <%= f.collection_select :artist_id, Artist.all, :id, :artist_name, :prompt => true %>

  <h4>レーベル名</h4>
  <%= f.collection_select :label_id, Label.all, :id, :label, :prompt => true %>

  <h4>ジャンル名</h4>
  <%= f.collection_select :genre_id, Genre.all, :id, :genre, :prompt => true %>

  <h4>値段</h4>
  <div><%= f.text_field :price, class: "item_price" %></div>

  <h4>在庫数</h4>
  <div><%= f.text_field :stock, class: "item_stock" %></div>
  <h3>ディスク名</h3>
  <div id="discs">
    <%= f.fields_for :discs do |disc| %>
      <%= render 'disc_fields', f: :disc %>
    <% end %>
    <div id="links">
    <%= link_to_add_association 'add discs',f, :discs %>
    </div>
  </div>
  <p><%= f.submit "編集", class: "btn btn-primary" %></p>
  <% end %>