<div class= "container">
<h1>商品詳細ページ</h1>

<div class="row">
<table class="table">
<table class="table table-hover table-inverse">
  <thead>
    <tr>
      <th>ジャケット画像</th>
      <th>タイトル</th>
      <th>アーティスト</th>
      <th>ジャンル</th>
      <th>レーベル</th>
      <th></th>
    </tr>
  </thead>
<% @item.each do |item| %>
  <tbody>
    <tr>
      <td><%= attachment_image_tag item, :image, fallback: "assets/no_image.jpg", size: "50x50", format: 'jpeg' %></td>
      <td><%= item.title %></td>
      <td><%= item.price %></td>
      <td>
        <p><%= item.artist_id %></p>
      </td>
      <td>
        <p><%= item.genre_id %></p>
      </td>
      <td>
        <p><%= item.label_id %></p>
      </td>




<%= link_to "Back", admin_items_path(@item), class: "pull-left" %>
<%= link_to "Delete", admin_items_path(@item.id), class: "btn btn-danger", data: {confirm: "本当に削除しますか？"}, method: :delete %>
<%= link_to "Edit", edit_book_path(@book.id), class: "btn-sm btn-success %>