<div class="container">
  <h2>アーティスト一覧</h2>
  <%= link_to "TOP", admin_top_path, class: "btn btn-primary" %>
  <%= link_to "New Artist", new_admin_artist_path, class: "btn btn-warning" %>
  <table class="table">
    <thead>
      <tr>
        <th>アーティスト名</th>
        <th>一言コメント</th>
        <th></th>
      </tr>
    </thead>
  <% @artists.each do |artist| %>
    <tbody>
      <tr>
        <td>
          <%= artist.artist_name %>
        </td>
        <td>
          <%= artist.comment %>
        </td>
        <td>
          <%= link_to "Edit", edit_admin_artist_path(artist.id) %>
        </td>
      </tr>
    </tbody>
  <% end %>
  </table>
</div>
