<div class="container">
  <h2>アーティスト一覧</h2>
  <%= link_to "TOP", admin_top_path, class: "btn btn-primary" %>
  <%= link_to "New Artist", new_admin_artist_path, class: "btn btn-warning" %>
  <div class="search-form">
    <%= search_form_for(@search, url: admin_artists_path) do |f| %>
      <%= f.text_field :artist_name_cont, placeholder: "アーティスト名を入力" %>
      <%= f.submit "Search", class: "btn btn-default" %>
    <% end %>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>アーティスト名</th>
        <th>一言コメント</th>
        <th></th>
      </tr>
    </thead>
  <% @search_artists.each do |artist| %>
    <tbody>
      <tr>
        <td>
          <%= artist.artist_name %>
        </td>
        <td>
          <%= artist.comment %>
        </td>
        <td>
          <%= link_to "Edit", edit_admin_artist_path(artist.id) %>
        </td>
      </tr>
    </tbody>
  <% end %>
  </table>
  <%= paginate @search_artists, class: "paginate" %>
</div>
