<div class="container">
  <h2>ユーザー購入状況一覧</h2>
  <%= link_to "TOP", admin_top_path, class: "btn btn-primary" %>
  <table class="table">
    <thead>
      <tr>
        <th>ユーザー</th>
        <th>購入日時</th>
        <th>時刻</th>
        <th>購入詳細</th>
        <th>手配状況</th>
        <th>キャンセル状況</th>
        <th></th>
        <th>対応日時</th>
      </tr>
    </thead>
    <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.user.name %></td>
        <td><%= order.created_at.strftime('%Y/%m/%d') %></td>
        <td><%= order.created_at.strftime('%H:%M') %></td>
        <td >
          <% order.order_items.each do |order_item| %>
            <% if order_item.cancell_status == "user_cancell" %>
              <p class="red"><%= order_item.item.title %> <%= order_item.cancell_status %><br></p>
            <% else %>
              <p class="gray"><%= order_item.item.title %> <%= order_item.cancell_status %><br></p>
            <% end %>
          <% end %>
        </td>
        <% if order.dlv_status == "order_accepted" %>
          <td class="red"><%= order.dlv_status %></td>
        <% elsif order.dlv_status == "getting_ready" %>
          <td class="blue"><%= order.dlv_status %></td>
        <% else %>
          <td class="gray"><%= order.dlv_status %></td>
        <% end %>
        <% if order.cancell_status == "nomal" || order.cancell_status == "cancell_accepted" %>
          <td><%= order.cancell_status %></td>
        <% elsif order.cancell_status == "user_cancell" %>
          <td class="red"><%= order.cancell_status %></td>
        <% else %>
          <td><%= order.cancell_status %></td>
        <% end %>
        <td>
          <%= link_to "Show", admin_order_path(order.id) %>
        </td>
        <td><%= order.updated_at.strftime('%Y/%m/%d %H:%M') %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <%= paginate @orders %>
</div>