<div class="container">
  <h2>購入詳細</h2>
  <div class="dlv_status">
    <%= form_for@order, :url => { :controller => :orders, :action => :dlv_flg_update }  do |f| %>
      <%= f.label "手配状況 : " %>
      <%= f.select :dlv_status, Order.dlv_statuses.keys.to_a, {} %>
      <%= f.submit "Update" %>
    <% end %>
  </div>
  <div class="cancell_status">
    <%= form_for@order, :url => { :controller => :orders, :action => :flg_update }  do |f| %>
      <%= f.label "キャンセル対応 : " %>
      <%= f.select :cancell_status, Order.cancell_statuses.keys.to_a, {} %>
      <%= f.submit "Update" %>
    <% end %>
  </div>

  <div class="order-info">
    <div class="orderer-name">
      <p>注文者 : <%= @order.user.name %></p>
    </div>
    <div class="order-date">
      <p>購入日 : <%= @order.created_at.strftime('%Y/%m/%d') %></p>
    </div>
    <div class="order-detail">
      <p>購入詳細</p>
      <% @order.order_items.each do |order_item| %>
        <ul>
          <li>タイトル : <%= order_item.item.title %>
            <ol>
              <li>単価 : <%= order_item.order_price %></li>
              <li>購入枚数 : <%= order_item.amount %></li>
            </ol>
          </li>
          <li>
            <%= form_for(order_item, :url => {:controller => :orders, :action => :item_flg_update }) do |f| %>
              <%= f.label "個別キャンセル状況 : " %>
              <%= f.select :cancell_status, OrderItem.cancell_statuses.keys.to_a, {} %>
              <%= f.submit "Update" %>
            <% end %>
          </li>
        </ul>
      <% end %>
    </div>
    <div class="order-total">
      <p>購入総計 : ¥<%= @order.total_price %></p>
    </div>
  </div>
  <%= link_to "Back", admin_orders_path %>
</div>