<div class="container">
<div class="row">

  <div class="col-xs-1">
  </div>

  <div class="col-xs-11">
<h1>ユーザー情報編集</h1>
<%= form_for([:admin, @users]) do |f| %>

    <h4>名前（姓、名）</h4>
    <%= f.text_field :name %>

    <h4>名前（カナ）</h4>
    <%= f.text_field :name_kana %>

    <h4>郵便番号</h4>
    <%= f.text_field :postal_code %>

    <h4>住所</h4>
    <%= f.text_field :address %>

    <h4>電話番号</h4>
    <%= f.text_field :tell %>

    <h4>メールアドレス</h4>
    <%= f.text_field :email %>



    <%= f.submit '更新' %>
<% end %>
<%= link_to "マイページへ戻る", user_path(current_user.id)  %>
