<div class ="main-visual">
<div class="container">
<div class="row">

 <div class="col-xs-1">
 </div>

 <div class="col-xs-11">
    <div style="padding: 10px; margin-bottom: 10px; border: 5px double #333333;">
        <div>
            <font size =24px>ユーザー情報</font>
            <ul style="list-style-type:circle;">
                <li>名前（性・名)：<%= @user.name %></li>
                <li>名前（カナ)：<%= @user.name_kana %>
                <li>郵便番号：<%= @user.postal_code %></li>
                <li>住所：<%= @user.address %></li>
                <li>電話番号：<%= @user.tell %></li>
                <li>メールアドレス：<%= @user.email %></li>
            </ul>
            <div class = "button"><%=link_to "登録情報編集", edit_user_path %></div>
            | <div class = "button"><%=link_to "登録送付先編集",user_shipments_path(current_user.id) %></div>
            | <div class = "button"><%= link_to "退会", users_delete_path(current_user.id)  %></div>
        </div>
</div>
<font size =24px>
購入履歴
</font>

<br>

<%= search_form_for @search,url: user_path do |f| %>
<%= f.label :title_cont, "商品名から検索" %>
<%= f.search_field :title_cont %>
<div class="actions"><%= f.submit "検索" %></div>
<% end %>




<% @products.each do |order| %>
<div class = "topnewbox">
    <div>
    <%= link_to item_path(order.item.id) do %>
<%= attachment_image_tag order.item, :image, :fill, 220,220,format: 'jpg' %>
<% end %>
    </div>


<div>
    <font color ="black">購入日時</font>
    <%= link_to order_path(order.order.id) do %>
    <%= order.created_at.strftime('%Y/%m/%d %H:%M') %>
    <% end %>
</div>
</div>

<% end %>

</div>
</div>
