<div class="container">
  <div class="row">
    <div class="col-10">
      <h2>ジャンル編集</h2>
      <%= form_for(@genre, url: admin_genre_path, method: :patch) do |f| %>
      <div class="form-group">
        <label for="genre">ジャンル名</label>
        <%= f.text_field :genre, id: "genre", class: "form-control" %>
      </div>
      <%= f.submit "Update", class: "btn btn-info" %>
      <% end %>
      <%= link_to "Back", admin_genres_path %><br>
      <%= link_to "Delete", admin_genre_path(@genre.id), class: "btn btn-danger", data: {confirm: "本当に削除しますか？"}, method: :delete %>
    </div>
  </div>
</div>