<div class="container admin">
  <h2>ジャンル一覧</h2>
  <%= link_to "TOP", admin_top_path, class: "btn btn-primary" %>
  <%= link_to "New Genre", new_admin_genre_path, class: "btn btn-warning" %>
  <div class="search-form">
    <%= search_form_for(@search, url: admin_genres_path) do |f| %>
      <%= f.text_field :genre_cont %>
      <%= f.submit "Search", class: "btn btn-default", placeholder: "ジャンル名を入力" %>
    <% end %>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>ジャンル名</th>
        <th></th>
      </tr>
    </thead>
     <% @search_genres.each do |genre| %>
      <tbody>
        <tr>
          <td>
            <%= genre.genre %>
          </td>
          <td>
            <%= link_to "Edit", edit_admin_genre_path(genre.id) %>
          </td>
        </tr>
      </tbody>
     <% end %>
  </table>
  <%= paginate @search_genres, class: "paginate" %>
</div>

