<div class="modal-dialog">
  <div class="modal-content">

  	<h1>確認ページ</h1>
    <table class="table table-hover">
        <thead>
          <tr>
            <th>商品情報</th>
            <th>値段</th>
            <th>数量</th>
            <th>小計</th>
          </tr>
        </thead>
        <tbody>
        <% @carts.each do |cart| %>
          <tr>
            <td>画像</td>
            <td>￥<%= cart.item.price %></td>
            <td><%= cart.amount %>枚</td>
            <td>￥<%= cart.item.price * cart.amount %></td>
          </tr>
        </tbody>
        <% end %>
    </table>
         <h4>合計</h4>
         <h3>￥<%= @total_price %></h3>
         <div>
         	<%= form_tag orders_path, method: :post do %>
         		<%= hidden_field_tag :shipment_id, @ship.id %>
        	<%= submit_tag "購入", class: "btn btn-lg btn-primary" %>
        	<% end %>
      	 </div>
  </div>
</div>