<div class="container">
<div class="row">
  <div class="col-xs-1">
  </div>



  <div class="col-xs-11">
	<h2>レジページ</h2>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>商品情報</th>
          <th>値段</th>
          <th>数量</th>
          <th>小計</th>
        </tr>
      </thead>
      <tbody>
      <% @carts.each do |cart| %>
        <tr>
          <td>画像</td>
          <td>￥<%= cart.item.price %></td>
          <td><%= cart.amount %>枚</td>
          <td><%= cart.item.price * cart.amount %></td>
        </tr>
      </tbody>
    <% end %>
    </table>
       <div>合計</div>
       <div>
       	<%= @total_price %>
       </div>
       <div>
       	<%= link_to orders_path, method: :post do %>購入確定<% end %>
    		</div>
  </div>
</div>
</div>