<div class="main-visual">
<div class="container">
  <div class="row">
      <div class="col-xs-1">
      </div>
      <div class="col-xs-10">
        <div class="title text-big">送付先確認画面</div>
          <div class="text-small">送付先をお選びください。</div>
            <div class="row">
              <div class="text-mid col-xs-5">送付先
                <%= form_tag ("/orders/result"), method: "get", remote: true do %>
                  <%= select_tag :shipment_id, options_from_collection_for_select(@shipments, :id, :shipment_name, ) %>
                  <div class="clearfix">
                      <%= submit_tag "購入確認ページへ", class: "button text-small", data: {"turbolinks" => false} %>
                  <% end %>
                  </div>
              </div>
              <div class="col-xs-6">
                <div class="row">
                  <% @shipments.each do |shipment| %>
                    <div class="box-info">
                        <div class="box-title text-small">送付先</div>
                        <p class= "text-mid">宛名：<%= shipment.shipment_name %></p>
                        <p class= "text-small">宛名（カナ）：<%= shipment.shipment_name_kana %></p>
                        <p class= "text-small">郵便番号：<%= shipment.shipment_postal_code %></p>
                        <p class= "text-small">送付先住所：<%= shipment.shipment_address %></p>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
      </div>
  </div>
</div>
</div>
  <div id="order-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>