<div class="container">
  <div class="row">
    <div class="col-xs-1">
    </div>



    <div class="col-xs-11">
  	  <h2>レジページ</h2>
        <h3>送付先一覧</h3>
            <div>
              <%= form_tag ("/orders/result"), method: "get", remote: true do %>
                <%= select_tag :shipment, options_from_collection_for_select(@ships, :id, :shipment_name) %>
                <%= submit_tag "送信先", class: "btn btn-lg btn-primary" %>
              <% end %>
            </div>
            <div>
              <% @ships.each do |ship| %></p>

                <%= ship.id %>
                <%= ship.user_id %>
                <%= ship.shipment_name %>
                <%= ship.shipment_name_kana %>
                <%= ship.shipment_postal_code %>
                <%= ship.shipment_address %>
              <% end %>
            </div>
  </div>
</div>


<div id="order-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>