<div class="container">
<div class="row">

  <div class="col-xs-1">
  </div>

  <div class="panel panel-info col-xs-11">
	<h1 class="panel panel-heading">購入結果</h1>

    <% @orders.each do |order| %>
　　    <div class="panel">
          <h4>購入日時：<%= order.created_at.strftime('%Y/%m/%d %H:%M') %></h4>
          <h3><%= order.user.name %>様、ご購入ありがとうございます！！</h3>
          <h5><%= link_to "購入詳細ページへ", order_path(id: order.id), class: "btn btn-lg btn-primary" %></h5>
        </div>

        <div class="panel panel-primary">
          <div class="panel-heading">
            <h4 class="panel-title">送付先</h4>
          </div>
                <p class= "ship-text">宛名：<%= order.order_name %></p>
                <p class= "ship-text">郵便番号：<%= order.order_postal_code %></p>
                <p class= "ship-text">送付先住所：<%= order.order_address %></p>
        </div>

        <div>
            <h2>合計</h2>
            <h3>￥<%= order.total_price %></h3>
        </div>
    <% end %>

    <% @orderitems.each do |orderitem| %>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>画像</th>
          <th>シングル・アルバム名</th>
          <th>アーティスト</th>
          <th>価格</th>
          <th>数量</th>
          <th>小計</th>
          <th></th>
       </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= attachment_image_tag orderitem.item, :image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %></td>
          <td><%= orderitem.item.title %></td>
          <td>未</td>
          <td>￥<%= price = orderitem.order_price %></td>
          <td><%= amount = orderitem.amount %>枚</td>
          <td><%= price * amount %></td>
          <td><%= link_to item_path(id: orderitem.item.id) do %>商品詳細<% end %></td>
        </tr>
    <% end %>
      </tbody>
    </table>

  </div>

  <div class="btn"><%= link_to "Topへ戻る", root_path %></div>
</div>
</div>