<div class="container">
<div class="row">
  <div class="col-xs-1">
  </div>

  <div class="col-xs-11">
	<h2>購入結果</h2>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>購入者名</th>
          <th>送付先住所</th>
          <th>値段</th>
          <th>数量</th>
          <th>小計</th>
          <th>合計</th>
       </tr>
      </thead>
      <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td><%= order.order.user.name %></td>
          <td><%= order.order.order_address %></td>
          <td>￥<%= price = order.order_price %></td>
          <td><%= amount = order.amount %>枚</td>
          <td><%= price * amount %></td>
          <td>￥<%= order.order.total_price %></td>
        </tr>
      </tbody>
    <% end %>
    </table>
  </div>
</div>
</div>