<div class="container">
  <div class="row">

      <div class="title text-big">購入結果
      </div>

        <% @orders.each do |order| %>
          <div class="box-title">
              <div class= "text-small">購入日時：<%= order.created_at.strftime('%Y/%m/%d %H:%M') %></div>
              <div class= "text-mid"><%= order.user.name %>様、ご購入ありがとうございます！！</div>
              <div class= "text-small">
                  <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a>ツイートして知らせよう!!
                  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
              </div>
              <div><%= link_to "購入詳細ページへ", order_path(id: order.id), class: "button" %>
              </div>
          </div>

          <div class="row">
            <div class="box-info col-xs-4">
                <u><div class= "text-mid">送付先</div></u>
                      <p class= "text-small">宛名：<%= order.order_name %></p>
                      <p class= "text-small">郵便番号：<%= order.order_postal_code %></p>
                      <p class= "text-small">送付先住所：<%= order.order_address %></p>
              </div>
              <div class="col-xs-5">
              </div>
              <div class="box-info col-xs-3">
                <u><div class="text-small">合計</div></u>
                <div class="text-mid">￥<%= order.total_price %></div>
              </div>
            </div>
        <% end %>

        <% @orderitems.each do |orderitem| %>
          <table class="table table-hover">
            <thead>
              <tr>
                <th>画像</th>
                <th>シングル・アルバム名</th>
                <th>アーティスト</th>
                <th>価格</th>
                <th>数量</th>
                <th>小計</th>
                <th></th>
             </tr>
            </thead>
            <tbody>
              <tr>
                <td><%= attachment_image_tag orderitem.item, :image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %></td>
                <td><%= orderitem.item.title %></td>
                <td><%= orderitem.item.artist.artist_name %></td>
                <td>￥<%= price = orderitem.order_price %></td>
                <td><%= amount = orderitem.amount %>枚</td>
                <td><%= price * amount %></td>
                <td class="button"><%= link_to item_path(id: orderitem.item.id) do %>商品詳細<% end %></td>
              </tr>
        <% end %>
            </tbody>
          </table>

      </div>

  </div>
</div>