<div class="container">

  <div class="row">
    <h2><%= current_user.name %>さんのカート内商品一覧</h2>

    <%= link_to "買い物を続ける", root_path %>
    <table class="table">
      <thead>
        <tr>
          <th>商品情報</th>
          <th>値段</th>
          <th>数量</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
    <% if @carts.count != 0 %>
      <% @carts.each do |cart| %>
        <tr>
          <td><%= attachment_image_tag cart.item, :image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %></td>
          <td><%= cart.item.price %></td>
          <td>
            <% if cart.item.stock != 0 %>
              <%= form_for(cart) do |f| %>
                <%= f.number_field :amount, min: 1, max: cart.item.stock %>
                <%= f.submit "数量を変更" %>
              <% end %>
            <% elsif cart.item.stock.zero? %>
              <p class="soldout">現在売り切れ</p>
            <% end %>
          </td>
          <td>
            <%= link_to "カートから削除", cart_path(cart.id),method: :delete, data: {confirm: "カートから削除しますか？"} %>
          </td>
        </tr>
      <% end %>
    <% elsif @carts.empty? %>
        <tr>
          <td colspan=4 class="cart_message"><b>カートに商品が追加されていません</b></td>
        </tr>
    <% end %>
      </tbody>
    </table>
  </div>

  <%= link_to "購入画面へ進む", new_order_path, class: "pull-right btn btn-warning" %>

</div>
