<div class="top">
<div class="container">
  <div class="row">
        <div class="col-lg-5">
            <%= attachment_image_tag @item, :image, :fill, 350, 350, format: 'jpeg', fallback: "no_image.jpg" %>
        </div>
        <div class="itembox col-lg-7">
        	<u><h4>シングル・アルバム名</h4></u>
		    <h1><%= @item.title %></h1>

            <div class="row">
                <div class="col-lg-4">
                    <u><h5>アーティスト</h5></u>
                    <h4><%= @item.artist.artist_name %></h4>
                </div>
                <div class="col-lg-4">
                    <u><h5>ジャンル</h5></u>
                    <h4><%= @item.genre.genre %></h4>
                </div>
              <div class="col-lg-4">
                   <u><h5>レーベル</h5><u>
                   <h4><%= @item.label.label; %></h4>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-8">
              </div>
              <div class="col-lg-4">
                   <u><h5>価格</h5><u>
                   <h4>¥<%= @item.price %></h4>
              </div>
            </div>
            <div class="row">
             <div class="col-lg-12">
                   <u><h5>コメント</h5></u>
                   <h4><%= @item.artist.comment %></h4>
             </div>
	        </div>
        </div>


    <div class="row">
        <div class="col-lg-12">
            <% @item.discs.each do |disc| %>
            	<h4><b>ディスク名：<%= disc.disc_name %></b></h4>
            <div class="row">
              <div class="col-lg-1">
              </div>
              <div class="col-lg-11">
                <u><h5>曲一覧</h5></u>
                    <% disc.tunes.each do |tune| %>
                        <h6>No.<%= tune.index %> : <%= tune.tune_name %></h6>
                    <% end %>
              </div>
            </div>
        	<% end %>
        </div>
    </div>

    <div class="btn btn-default"><%= link_to "マイページへ戻る", user_path(id: current_user.id) %></div>
</div>
</div>
</div>