<div class= "container admin">
  <h1>ユーザー一覧</h1>
  <%= link_to "TOP", admin_top_path, class: "btn btn-primary" %>
  <%= search_form_for(@search, url: admin_users_path) do |f| %>
    <%= f.text_field :name_cont, placeholder: "ユーザー名を入力" %>
    <%= f.submit "Search", class: "btn btn-default" %>
  <% end %>
  <table class="table">
    <thead>
      <tr>
        <th>
          名前（姓、名）
        </th>
        <th>
          名前(カナ）
        </th>
        <th>
          郵便番号
        </th>
        <th>
          住所
        </th>
        <th></th>
      </tr>
    </thead>
  <% @search_users.each do |user| %>
    <tbody>
      <tr>
        <td>
          <%= user.name %>
        </td>
        <td>
          <%= user.name_kana %>
        </td>
        <td>
          <%= user.postal_code %>
        </td>
        <td>
          <%= user.postal_code %>
        </td>
        <td>
          <%= user.postal_code %>
        </td>
        <td>
          <%= link_to "詳細", admin_user_path(user.id) %>
        </td>
      </tr>
    </tbody>
  <% end %>
  </table>
  <%= paginate @search_users %>
</div>