<div class ="main-visual">
<div class="container">
<div class="row">

  <div class="col-xs-1">
  </div>

  <div class="col-xs-11">
<h1 class = "text-big">送付先編集</h1>
<%= form_for @shipments, url: user_shipment_path(current_user.id) do |f| %>

    <h4>名前（姓、名）</h4>
    <%= f.text_field :shipment_name %>

    <h4>名前(カナ）</h4>
    <%= f.text_field :shipment_name_kana %>

    <h4>郵便番号</h4>
    <%= f.text_field :shipment_postal_code %>

    <h4>住所</h4>
    <%= f.text_field :shipment_address %>

<font color="black">
    <%= f.submit '編集' %>
    </font>
<% end %>
<div class = "button"><%= link_to "削除",  user_shipment_path(user_id: current_user.id, id: @shipments.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
</div>
|
<div class = "button"><%= link_to "一覧へ戻る", user_shipments_path(current_user.id)  %>
</div>
</div>