<div class ="main-visual">
<div class="container">
	<div class="row">

<div class="col-md-6">
	<h1 class = "text-big">配送先登録</h1>

	<%= form_for @shipments,url: user_shipments_path(current_user.id) do |f| %>

	<h4>名前（姓、名）</h4>
	<%= f.text_field :shipment_name %>

	<h4>名前（カナ）</h4>
	<%= f.text_field :shipment_name_kana %>

	<h4>郵便番号</h4>
	<%= f.text_field :shipment_postal_code %>

	<h4>住所</h4>
	<%= f.text_field :shipment_address %>
<font color="black">
	<%= f.submit '登録' %>
</font>
	<% end %>

	<div class = "button"><%= link_to "マイページへ戻る", user_path(current_user.id)  %></div>

</div>

<div class="col-md-6">
	<h1 class = "text-big">送付先一覧</h1>
	<% @shipment.each do |shipment| %>
	    <%= link_to  edit_user_shipment_path(current_user.id,shipment.id) do %>
	    <font color="black">
	    <div class="well">
	    <h3>名前（姓、名）:<%= shipment.shipment_name_kana %></h3>
	    <h3>名前（カナ）:<%= shipment.shipment_name %></h3>
	    <h4>郵便番号:<%= shipment.shipment_postal_code %></h4>
	    <h4>住所:<%= shipment.shipment_address %></h4>
	    </div>
	</font>
	    <% end %>
	    <% end %>
</div>
</div>




