<div class="container">
	<div class="row">

<div class="col-md-6">
	<h1>配送先登録</h1>

	<%= form_for @shipments,url: user_shipments_path(current_user.id) do |f| %>

	<h4>名前（姓、名）</h4>
	<%= f.text_field :shipment_name %>

	<h4>名前（カナ）</h4>
	<%= f.text_field :shipment_name_kana %>

	<h4>郵便番号</h4>
	<%= f.text_field :shipment_postal_code %>

	<h4>住所</h4>
	<%= f.text_field :shipment_address %>

	<%= f.submit '登録' %>
	<% end %>

	<%= link_to "マイページへ戻る", user_path(current_user.id)  %>

</div>


<div class="col-md-6">
	<div class="panel panel-default">
<div class="panel-heading">
	<h3 class="panel-title">
	<h1>送付先一覧</h1>
</h3>
</div>
  <div class="panel-body">
	<% @shipment.each do |shipment| %>
	    <%= link_to  edit_user_shipment_path(current_user.id,shipment.id) do %>
	    <font color="black">
	    <h1>名前（姓、名）</h1>
	    </font>
	    <%= shipment.shipment_name %>
	    <font color="black">
	    <h1>名前(カナ）</h1>
	    </font>
	    <%= shipment.shipment_name_kana %>
	    <font color="black">
	    <h3>郵便番号</h3>
	    </font>
	    <%= shipment.shipment_postal_code %>
	    <font color="black">
	    <h3>住所</h3>
	    </font>
	    <%= shipment.shipment_address %>
	    </div>
	    <% end %>
	<% end %>
</div>
</div>
</div>




