<!DOCTYPE html>
<html>
  <head>
    <title>Pandam</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header class="navbar navbar-inverse" height= "70px">
      <div class="container">
        <!-- <nav class="nav navbar-nav navbar-left">
          <a href="/"><img src="/assets/logo.jpg" height= "60px"></a>
          <span>Logo made with <a href="https://www.designevo.com/en/" title="Free Online Logo Maker">DesignEvo</a></span>
        </nav> -->
        <nav>
          <% if admin_signed_in? %>
            <nav class="nav navbar-nav navbar-left">
              <a href="/admin/top"><img src="/assets/logo.jpg" height= "60px"></a>
              <span>Logo made with <a href="https://www.designevo.com/en/" title="Free Online Logo Maker">DesignEvo</a></span>
            </nav>
            <ul class="nav navbar-nav navbar-right">
              <li role="presentation">
                <%= link_to admin_users_path, class: "glyphicon glyphicon-user users" do %>
                <span aria-hidden="true"> ユーザー</span>
                <% end %>
              </li>
              <li role="presentation">
                <%= link_to admin_orders_path, class: "glyphicon glyphicon-home home" do %>
                  <span aria-hidden="true"> 購入履歴</span>
                <% end %>
              </li>
              <li role="presentation">
                <%= link_to admin_items_path, class: "glyphicon glyphicon-gift" do %>
                <span aria-hidden="true"> 商品</span>
                <% end %>
              </li>
              <li role="presentation">
                <%= link_to admin_artists_path, class: "glyphicon glyphicon-comment" do %>
                  <span aria-hidden="true"> アーティスト</span>
                <% end %>
              </li>
              <li role="presentation">
                <%= link_to admin_labels_path, class: "glyphicon glyphicon-music" do %>
                  <span aria-hidden="true"> レーベル</span>
                <% end %>
              </li>
              <li role="presentation">
                <%= link_to admin_genres_path, class: "glyphicon glyphicon-headphones" do %>
                  <span aria-hidden="true"> ジャンル</span>
                <% end %>
              </li>
              <li role="presentation">
                <%= link_to destroy_user_session_path, method: :delete, class: "glyphicon glyphicon-log-out logout" do %>
                  <span aria-hidden="true"> ログアウト</span>
                <% end %>
              </li>
            </ul>
          <% elsif user_signed_in? %>
            <nav class="nav navbar-nav navbar-left">
              <a href="/"><img src="/assets/logo.jpg" height= "60px"></a>
              <span>Logo made with <a href="https://www.designevo.com/en/" title="Free Online Logo Maker">DesignEvo</a></span>
            </nav>
            <ul class="nav navbar-nav navbar-right">
              <li role="presentation">
                <%= link_to user_path(current_user.id), class: "glyphicon glyphicon-home home" do %>
                  <span aria-hidden="true"> マイページ</span>
                <% end %>
              </li>
              <li role="presentation">
                <%= link_to carts_path, class: "glyphicon glyphicon-shopping-cart" do %>
                  <span aria-hidden="true"> カート</span>
                <% end %>
              </li>
              <li role="presentation">
                <%= link_to destroy_user_session_path, method: :delete, class: "glyphicon glyphicon-log-out logout" do %>
                  <span aria-hidden="true"> ログアウト</span>
                <% end %>
              </li>
            </ul>
          <% else %>
            <nav class="nav navbar-nav navbar-left">
              <a href="/"><img src="/assets/logo.jpg" height= "60px"></a>
              <span>Logo made with <a href="https://www.designevo.com/en/" title="Free Online Logo Maker">DesignEvo</a></span>
            </nav>
            <ul class="nav navbar-nav navbar-right">
              <li role="presentation">
                <%= link_to new_user_session_path, class: "glyphicon glyphicon-log-in sign_in" do %>
                  <span aria-hidden="true"> ログイン</span>
                <% end %>
              </li>
              <li role="presentation">
                <%= link_to new_user_registration_path, class: "glyphicon glyphicon-edit sign_up" do %>
                  <span aria-hidden="true"> 新規登録</span>
                <% end %>
              </li>
            </ul>
          <% end %>
          
        </nav>
      </div>
    </header>
    <main>
      <% if flash[:notice] %>
        <p id=notice><%= flash[:notice] %></p>
      <% elsif flash[:alert] %>
        <p id=alert><%= flash[:alert] %></p>
      <% end %>

      <%= yield %>

    </main>

    <footer>
      <p class="copyright">©︎ 2019 Team Mr.Panda</p>
    </footer>

  </body>
</html>