<div class ="main-visual">
<h1>登録情報編集</h1>
<%= form_for(@users) do |f| %>

    <h4>名前（姓、名）</h4>
    <%= f.text_field :name %>

    <h4>名前（カナ）</h4>
    <%= f.text_field :name_kana %>

    <h4>郵便番号</h4>
    <%= f.text_field :postal_code %>

    <h4>住所</h4>
    <%= f.text_field :address %>

    <h4>電話番号</h4>
    <%= f.text_field :tell %>

    <h4>email</h4>
    <%= f.text_field :email %>


<font color="black">
    <%= f.submit '更新' %>
</font>
<% end %>
</div>
